.btnCont {
  color: #fff;
  position: fixed;
  top: 5px;
  left: 20px;
  z-index: 300;
}

.canvasCont {
  height: 100%;
}

.startBox {
  position: absolute;
  width: 100%;
  height: 200vh;
  top: 0;
  left: 0;
  background-color: rgba(1, 1, 192, 0.09);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99;
}
.inspectionSmall {
  height: 100vh;
}
.inspectionLarge {
  height: 200vh;
}
.btnDes {
  position: absolute;
  outline: none;
  border: none;
  background-color: #d60606;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  top: 65%;
  left: 44, 5%;
  width: 250px;
  height: 50px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 500ms linear;
  z-index: 199;
}
.btnDes:hover {
  background-color: transparent;
  border: 2px solid #d60606;
}
.btnRes {
  position: absolute;
  outline: none;
  border: none;
  background-color: #0270ff;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  top: 65%;
  left: 44, 5%;
  width: 250px;
  height: 50px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 350ms ease-in-out;
  z-index: 199;
}
.btnRes:hover {
  background-color: transparent;
  border: 2px solid #0270ff;
}
